body{
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.Top-Box {
   display: grid;
   padding: 50px;
   height: 50px;
   background: rgb(47, 201, 47);
}

.Logo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.Slide-1 {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.left {
    display: grid;
    height: 100%;
    width: 40%;
}

.left img {
    border-radius: 0px 0px 20px 0px;
    width: 760px;
    box-shadow: 10px 10px 5px lightsalmon;
}

.right{
    display: grid;
    height: 100px;
    width: 60%;
    padding: 15px;
}

.right h2{
    font-size: 20px;
}